/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generic */
body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer {
    background-color: #23272A;
}

a {
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 30px;
}

h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
}

h3 {
    font-size: 30px;
}

p {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 10px;
}

button {
    border-radius: 50px;
    border-style: none;
    font-weight: 500;
    background-color: white;
}

i {
    padding-right: 10px;
}

/* Header*/
.navbar {
    background-color: #255EE9;
    min-height: 70px;
}

.navbar>* {
    padding: 10px 0;
}

.external-left {
    width: 20%;
    text-align: left;
}

.prime {
    width: 60%;
    text-align: center;

}

.prime * {
    padding: 0 20px;
}

.external-right {
    width: 20%;
    text-align: right;
}

.device {
    min-height: 600px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
    vertical-align: middle;
}

.download {
    height: 750px;
    padding: 75px 0;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bt-nav {
    padding: 8px 15px;
    font-size: 15px;
}

.bt-header {
    padding: 15px 30px;
    font-size: 20px;
    margin-top: 10px;
}

.browser {
    background-color: #23272A;
    color: white;
    margin-left: 20px;
}

/* Main */
.function {
    min-height: 500px;
    text-align: center;
    padding: 100px 0;
}

.wave {
    height: 150px;
    background-image: url('../img/wave.svg');
}

.star {
    height: 60px;
    width: fit-content;
    padding: 35px;
    background-image: url(../img/stars.svg);
    background-size: 100%;
    margin: 10px auto;
}

.down {
    min-height: 600px;
}

.video {
    min-width: 100%;
}

.restrict {
    padding: 10px 130px;
}

.grey {
    background-color: #F6F6F6;
}


.bt-main {
    background-color: #8EA1E1;
    color: white;
}

.image {
    min-height: 400px;
    width: 70%;
    text-align: center;
    padding: 20px 0;
}

.description-image {
    min-height: 400px;
    width: 30%;
    flex-grow: 1;
    text-align: left;
}

/*footer*/

/* Utilities */

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.border {
    border: 2px dashed black;
}

.top {
    min-height: 70px;
}

.multi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.exit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.social {
    width: 30%;
    background-color: blueviolet;
}

.internal {
    width: calc(70%/4);
    text-align: left;
}

.block {
    display: block;
    padding: 10px 0;
}